.row {
    display: flex;
    width: 100%;
}

@for $i from 1 through 12 {
    .col-#{$i} {
        width: 100%/12*$i;
    }
}

@media only screen and (max-width: 600px) {
    .row .col-3 {
        display: block;
    }

    

    .row .col-8 {
        width: 100%;
        overflow: hidden;
    }

    .add-gift {
        display: none;
    }

    #dot:checked~.row .col-4 {
        display: block;
    }
}