.card{
    width: 375px;
    padding: 15px 20px;background: transparent;
    border: 2px solid rgba(255,255,255,0.5);
    border-radius: 20px;
    backdrop-filter: blur(15px);
}
.form-group{
    margin: 15px 0px;
    display: flex;
    flex-direction: column;
}
.form-control{
    padding: 12px;
    border: none;
    outline: none;
    background: transparent;
    border-bottom: 2px solid #fff;

    &::placeholder{
        color: #fff;
        font-weight: 400;
    }
}
label{
    margin-bottom: 5px;
    color: #fff;
    font-weight: 500;
}
.btn{
    outline: none;
    color: #000;
    text-transform: uppercase;
    border-radius: 40px;
    padding: 12px;
    text-align: center;
    background-color: #fff;
    border: none;
    cursor: pointer;
}

*:-webkit-autofill,
*:-webkit-autofill:hover,
*:-webkit-autofill:focus,
*:-webkit-autofill:active {
    /* use animation hack, if you have hard styled input */
    transition: all 5000s ease-in-out 0s;
    transition-property: background-color, color;
    /* if input has one color, and didn't have bg-image use shadow */
    -webkit-box-shadow: transparent inset;
    /* text color */
    -webkit-text-fill-color: #fff;
    /* font weigth */
    font-weight: 300!important;
}